body {
    margin: 0;
    background-color: #BAC5CB;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #31C23A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 5px 5px 5px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #113213;
    text-decoration: underline;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
  }

  .container img {
    width: 100%;
    height: auto;
  }

  .container .openbtn {
    position: absolute;
    padding: 14px 16px;
    margin: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #31C23A;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .container .openbtn:hover {
    color: #113213;
  }
