body {
    margin: 0;
    background-color: #BAC5CB;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    display: block;
    z-index: 1;
    background-color: #31C23A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #113213;
    text-decoration: underline;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 40px;
  }

  #main {
    transition: margin-left .5s;
  }

  .container img {
    width: 100%;
    height: auto;
  }

  .container button {
    margin: 0;
    font-size: 33px;
  }

  .openbtn {
    font-size: 33px;
    cursor: pointer;
    background-color: #BAC5CB;
    color: white;
  }

  .container .openbtn {
    position: absolute;
    top: 20px;
    left: 55px;
    transform: translate(-50%, -50%);
    background-color: #BAC5CB;
    color: white;
    border-bottom: 4px solid #EF81DC;
    cursor: pointer;
    text-align: center;
  }

  .container .openbtn:hover {
    color: #113213;
  }

  .title {
    padding: 10px 10px;
  }
