body {
    margin: 0;
    background-color: #BAC5CB;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    background-color: #989197;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 5px 5px 5px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #113213;
    text-decoration: underline;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 40px;
  }

  #main {
    transition: margin-left .5s;
  }

  .container img {
    width: auto;
    height: 100%;
  }

  .container button {
    margin: 0;
    font-size: 33px;
  }

  .openbtn {
    font-size: 33px;
    cursor: pointer;
    background-color: #BAC5CB;
    color: white;
  }

  .container .openbtn {
    position: absolute;
    top: 20px;
    left: 55px;
    transform: translate(-50%, -50%);
    background-color: #BAC5CB;
    color: #113213;
    border-bottom: 4px solid #F9D3D3;
    cursor: pointer;
    text-align: center;
  }

  .container .openbtn:hover {
    color: white;
  }

  .title {
    padding: 10px 10px;
    float: center;
  }

  .title-area {
    display: inline;
    float: left;
    text-align: left;
    padding: 0 50px 0 80px;
  }

  .title-area .title {	
	font-size: 35px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
  }

  .title-area {
    color: #1E7D1E;
  }

  .title-area li {
	color: #1E7D1E;
	padding: 0 15px;
	text-align: left;
  }

  #about{
	display: inline;
	padding: 20px 50px 10px 80px;
	width: 100%;
  }

  .about-content {
	display: inline;
	float: left;
	width: 100%;
	left: 20px;
	color: #1E7D1E;
	padding: 20px 50px 10px 80px;
  }

  .about li {
    font-size: 20px;
  }

  .timeline {
    list-style: none;
    padding: 20px 20px 20px;
    position: relative;
    font-size: 25px;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 33%;
    margin-left: -1.5px;
  }
  .timeline-panel {
    padding: 20px 30px;
    background-color: #F9D3D3;
    position: relative;
    border-radius: 6px;
    width: 30%;
  }
  .right {
    left: -35%;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 25%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 32.5%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.question {
    background-color: #f0ad4e !important;
  }
  .timeline-badge.setup {
    background-color: #d9534f !important;
  }
  .timeline-badge.picture {
    background-color: #5bc0de !important;
  }
  .timeline-badge.report {
    background-color: #2e6da4 !important;
  }
  .timeline-badge.check {
    background-color: #3f903f !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F9D3D3;
    color: #1E7D1E;
    text-align: right;
    padding: 0 15px 0 0;
    opacity:0.75;
  }

  .subtitle {
    display: inline;
    text-align: left;
    padding: 10px 50px 10px 80px;
  }

  .outset {
    padding: 20px;
    border: 10px outset bisque;
  }

  .report-home {
    background-color: #F9D3D3;	
    color: #1E7D1E;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 15px;
    text-decoration: none;
  }

  .report-home:hover {
    text-decoration: underline;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    position: relative;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }
